header{
    width: 100%;
    background-image: url(images/Rectangle\ 1316.png);
    /* background-image: url(images/Group\ 211.png); */
    color:white;
    height: 800px;
}
p{
    display: inline-block;
    float: right;
}
ul{
    display: inline-block;
    margin-left: 25%;

}
ul>li{
    display: inline;
    margin-left: 10px;
    font-size: 20px;
}
h2{
    display: inline-block;
}